*

!backend/
!backend/**
!telegram_bot/
!telegram_bot/**
!frontend/
!frontend/**
!docker/
!docker/**
!app_config.json
!bot_config.json

backend/__pycache__/
backend/**/*.pyc
telegram_bot/__pycache__/
telegram_bot/**/*.pyc
